# .editorconfig Settings for the test resources.
[*NoFinalNewline.txt]
insert_final_newline = false

[TabValid.txt]
indent_style = tab

[SpaceIndent*.txt]
indent_style = space

[SpaceIndent4.txt]
indent_size = 4
